chromadb
Flask
groq
langchain==0.3.27
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface
numpy
pandas
python-dotenv
torch
sentence-transformers
transformers
docker
flask_sqlalchemy
psycopg2-binary
gunicorn