{% extends "layout.html" %}

{% block content %}
<div class="chat-main">
  <div class="chat-window" id="chat-window">
    {% for msg in messages %}
      <div class="message {{ msg.role|lower }}">
        <p>{{ msg.content | safe }}</p>
        {% if msg.date_time is defined %}
        <p style="color: #a4a4a4; font-size: 90%; margin: 0 .5em .5em auto;">{{ msg.date_time }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="chat-input-wrapper">
    <div class="chat-input">
      <textarea id="user-input" placeholder="Type your query here."></textarea>
      <button id="send-btn" type="button">Send</button>
    </div>
  </div>
</div>
{% endblock %}