<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AI Chatbot</title>
  <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <div class="container">

    <!-- sidebar -->
    <aside class="sidebar">

      <!-- menu button (three bar icon) -->
      <div class="sidebar-header">
        <button id="menu-toggle" class="menu-btn">&#9776;</button>
      </div>

      <!-- new chat button (pencil icon) -->
      <button id="new-chat">
        <span class="icon">&#9998;</span>
        <span class="text">&#10240;New Chat</span>
      </button>

      <!-- chat history -->
      <h2 class="sidebar-title">Conversations</h2>
      <ul id="chat-list">
        {% for chat_id, chat in chats.items()|list|reverse %}
        <li>
          <!-- Active -->
          {% if chat_id == current_chat_id %}
          <a class="active"
            href="{{ url_for('chat', chat_id=chat_id) }}">
            {{ chat.title }}
          </a>
          {% else %}
          <!-- Non Active -->
          <a href="{{ url_for('chat', chat_id=chat_id) }}">
            {{ chat.title }}
          </a>
          {% endif %}

          <!-- delete chat button (changes to refresh button based on logic) -->
          <button class="delete-chat delete-chat-btn" data-chat-id="{{ chat_id }}" data-has-user-messages="{{ 'true' if chat.messages
          |selectattr('role', 'equalto', 'human')
          |list
          |length > 0
          else 'false' }}">&#x2716;</button>
        </li>
        {% endfor %}
      </ul>

      <!-- system logo footer -->
      <div class="sidebar-logo">
        <img src="{{ url_for('static', filename='images/bill-logo.png') }}" alt="System logo">
        <p id="branding">
          Public Billing <br>
          System Chatbot</p>
      </div>

    </aside>

    <!-- main content -->
    <main class="main">
      {% block content %}{% endblock %}
    </main>
  </div>

  <!-- system status pop-up -->
  <div id="system-status-popup" class="status-popup">
    PBS status: ...
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>